<h2>Verify your email address</h2>
<p>Thanks for signing up! We're excited to have you on board.</p>
<p>Please use the verification code below to confirm your email address and activate your account:</p>

<div class="code">
    <%= code %>
</div>

<p>This code will expire in 24 hours. If you didn't create an account with us, you can safely ignore this email.</p>
<p>Cheers,<br>The Team</p>